<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="title">Bienvenido a la Gestión de Artistas</div>
    <a href="http://127.0.0.1:8000/agregar/" class="nav-link">Registrar Artista</a>
    <a href="http://127.0.0.1:8000/agregaMusica" class="nav-link">Registra musica</a>
    <a href="http://127.0.0.1:8000/agregaAlbum" class="nav-link">Registra Album</a>
    <a href="http://127.0.0.1:8000/lista/" class="nav-link">Lista de artistas</a>
    <a href="http://127.0.0.1:8000/lista2/" class="nav-link">Lista de musica</a>
    <a href="http://127.0.0.1:8000/lista3/" class="nav-link">Lista de albumes</a>
    <a href="http://127.0.0.1:8000/admin/" class="nav-link">Ir al admin</a>
</body>
</html>
